
body {
    background: #e7dfd8;
}

.the-head {
    font-size: 10vw; /* Scales with the viewport width */
    color: black;
    text-align: center; /* Ensures better alignment */
    width: 80%;
    overflow: hidden;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .the-head {
        font-size: 8vw;
    }

}

@media (max-width: 480px) {
    .the-head {
        font-size: 12vw;
    }
}

